*, body{
    font-family: 'poppins', sans-serif;
    padding: 0;
    margin: 0;
}
p{
     font-size: 16px;

}
.bodyGrid{
    grid-template-rows: 1fr  4fr 1fr 11fr 3fr;
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    gap: 25px;
    background-color:#f9f2ff;


}
.menuGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: calc(100%-60px);
    background-color: #ffffff;  
    padding: 5px;
}

.usersGrid{
    display: grid;
    align-items: center;
    background-color: #ffffff;
}


/* ROLETA STYLES */
.roulette-container {
    display: inline-flex;
    overflow-x: scroll;
    width: 100vw;
    /* padding: 10px 0 ; */
    /* height: 100px; */
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    height: 100%;
}
.roulette-container div {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    /* grid-template-columns: auto; */
    align-items:center;
    justify-content: center;
    
}
.roulette-container p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100px; 
    font-size: 0.9rem;
}
.roulette-container div img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


/* PESQUISA STYLES */
.searchGrid{
    display: flex;
    justify-content: center;
    align-items: center;

}
.search{
    padding: 0 2.5px;
    background-color: rgb(245, 240, 240);
    display: inline-flex;
    border: 1.5px solid;
    border-radius:5px;
    width: 80%;
}
.search input,.search input:focus {
    background-color: rgb(245, 240, 240);
    border: none;
    height: 35px;
    width: calc(100% - 16px);
    display: flex;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.search i::before{
    position: relative;
    top: 15%;
    left: -10%;
}
.search i{
    background-color: rgb(245, 240, 240);
    height: 25px;
}

/* CHAT STYLES */
.chatContainer{
    display: inline-flex;
    overflow: auto;
    flex-direction: column;
    gap: 10px;
    border-radius:  0 0 10% 10%;
    background-color: #ffffff;

}
.chatLine {
    display: grid;
    grid-template-rows: repeat(auto-fit, 3.4rem);
    border-top: solid .5px rgba(0, 0, 0, 0.171);
    padding-top: 5px;
}
.chat{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr ;
    justify-content: center;
}
.chat div{
    display: flex;
    justify-content: center;
}
.chatImage{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-self: center;
}
.chatMessage{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.chatLast{
    justify-self: center;
    align-self: center;
}
/* MENU FOOTER */
.menuFooter{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menuFooter i{
    font-size: 2.2rem;
}